/* --- Google fonts --- */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



/* Global Fixes */
html { 
    scrollbar-gutter: stable;
    height: 100%;
    overflow-x: hidden;
}

